<div class="content">
  <div class="side-menu">
    <mat-toolbar color="" class="mat-elevation-z8">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>GUIA FIA</span>
    </mat-toolbar>

    <mat-drawer-container autosize>
      <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
          <div class="col-md-7 col-lg-10 col-xl-5">
            <div class="container">
              <div class="text-left">
                <img src="https://i.pinimg.com/750x/34/30/f0/3430f09d54154dae08871818dce4abb1.jpg"
                  style="width: 200px; height: 200px;" alt="logo">
              </div>
            </div>
          </div>
          <!-- Contenido del menú lateral -->
          <mat-list-item>
            <button  (click)="visitante()" mat-button> VISITANTES</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="asignatura()" mat-button>ASIGNATURA</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="docente()" mat-button> DOCENTES</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="graduado()" mat-button> GRADUADOS</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="evento()" mat-button> EVENTO</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="placa()" mat-button> PLACA</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="horario()" mat-button> HORARIO</button>
          </mat-list-item>

          <mat-list-item>
            <button (click)="directorio()" mat-button> DIRECTORIO</button>
          </mat-list-item>

          <mat-list-item>
            <button routerLink="" mat-button>
              <mat-icon>exit_to_app</mat-icon>
              CERRAR SESIÓN
            </button>
          </mat-list-item>



        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <div style="text-align: center; min-height: 760px;">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <div class="main-content">
    <mat-card>
      <div style="text-align: left; margin: 20px;">
        <h1 style="font-weight: bold;">CREAR PLACAS</h1>
      </div>

      <mat-card-content>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">AÑO</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPassword" placeholder="">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">PISO</label>
          <div class="col-sm-8">
              <select class="form-control" id="areaSelect">
                  <option value="opcion1">1</option>
                  <option value="opcion2">2</option>
                  <option value="opcion3">3</option>
                </select>
          </div>
        </div>

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">PABELLÓN</label>
              <div class="col-sm-8">
                  <select class="form-control" id="areaSelect">
                      <option value="opcion1">1</option>
                      <option value="opcion2">2</option>
                      <option value="opcion3">3</option>
                    </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">FOTO DE LA PLACA</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="inputPassword" placeholder="">
              </div>
            </div>

            <button style="margin-left: 60%;" mat-raised-button color="warn">GUARDAR</button>

      </mat-card-content>

    </mat-card>
  </div>
</div>

